@model BookCentreProject.Models.Book
@{
    ViewBag.Title = "Details";
    var imagePath = "~/images/" + @Model.Photo;
}

<div class="container">
    <div class="row">
        <div class="col-6 ">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@imagePath" class="img-fluid rounded-start" asp-append-version="true">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">@Model.Name</h3>
                            <h4>Author:@Model.Author</h4>
                            <h4>Price:@Model.Price</h4>
                            <h4>Language:@Model.Language</h4>
                            <h4>Type:@Model.Type</h4>
                            <a asp-controller="Book" asp-action="GetBooks" class="btn btn-primary">Back</a>


                        </div>
                    </div>
                </div>
            </div>








        </div>

    </div>


